.c{
    position: absolute;
    top: 70px;
    left: 0px;
    height: -webkit-fill-available;
    background-color: #252526;
    width: 200px;
    div{
        color:white;
    }
    .m{
        div{
            padding: 10px 20px;
            margin-bottom:10px;
            font-size: 20px;
        }
    }
}