<div class="row m-3 shadow p-3 r">
    <table class="fs-6 fs-bold">
        <tbody>
          <tr>
            <th scope="row"><i class="g material-icons">done</i></th>
            <td><span class="c fs-6 fw-bold">Adopt - Reactive Programming </span></td>
          </tr>
          <tr>
            <th scope="row"><i class="g material-icons">done</i></th>
            <td><span class="c fs-6 fw-bold">Write - Event Driven Functions</span></td>
          </tr>
          <tr>
            <th scope="row"><i class="g material-icons">done</i></th>
            <td><span class="c fs-6 fw-bold">Build - Reusable Components </span></td>
          </tr>
        </tbody>
      </table>
</div>