.txl{
    font-weight: bolder;
    font-size: 3rem;
    color: darkgoldenrod;
    padding: 5px;
    background: gainsboro;
    border: 3px solid goldenrod;
    border-radius: 10px;
}
.tl{
    font-weight: bold;
    font-size: 2rem;
    color:red;
}
.tm{
    font-weight: bold;
    font-size: 2rem;
    color: cadetblue;
}
.bg-card{
    background:cornsilk;
}