.r {
    overflow: hidden;
    position: relative;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
}
span {
    font-family: Arial, sans-serif;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    top:5px;
    padding:0px;
    width:-webkit-fill-available;
    animation: move 7s;
    animation-iteration-count: 5;
    animation-delay: 1s;
  }
  
  @keyframes move {
  0%  { top: 5px; }
  20% { top: -35px; }
  40% { top: -75px; }
  60% { top: -115px; }
  80% { top: -150px;}
  }