<div class="row m-3 shadow p-3 r">
    <table>
        <tbody>
          <tr>
            <th><i class="g material-icons">done</i></th>
            <td><span class="c fs-6 fw-bold">Choose - Scalable Architecture</span></td>
          </tr>
          <tr>
            <th><i class="g material-icons">done</i></th>
            <td><span class="c fs-6 fw-bold">Design - Reliable Systems</span></td>
          </tr>
          <tr>
            <th><i class="g material-icons">done</i></th>
            <td><span class="c fs-6 fw-bold">Deploy - Cloud First Apps</span></td>
          </tr>
        </tbody>
      </table>
</div>