<div class="row m-0 px-2 r text-center">
    <div class="col-12 text-center">
        Awards & Certifications
    </div>
</div>
<div class="container">
    <div class="row mt-2">
        <div *ngFor="let c of awards" class="col-md-4 col-sm-6 col-xs-12 m-0 px-2">
            <div class="card shadow">
                <iframe [src]="c.link" style="width: 200px; height: 200px;" frameborder="0" scrolling="no">
                    <p>{{c.name}}</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
